.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}

/**
 * 提交 studentID 的表单
 */
.el-form-studentID {
  margin: 1rem, 2rem;
  max-width: 600px;

  .el-input-studentID {
    // margin: 1rem;
    max-width: 35rem;
  }
}

/**
 * 我的表单
 */

 .card-pane {
   min-width: 600px;
   min-height: 400px;
 }
