@import './../element-variables.scss';

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}

h1 {
  font-size: 55px;
  font-weight: bold;
}

/**
 * 通用样式
 */

 h1[class="logo"] {
  margin: 3rem .5rem 4rem .5rem;
  color: $color-green-dark;
 }

 $margin-top: .5rem;
 $margin-right: .5rem;

 .row {
    margin: $margin-top $margin-right;
 }
 .row-large {
    margin: $margin-top*2 $margin-right;
 }
 .margin-right {
   margin-right: $margin-right * 4;
 }
 .margin-left {
   margin-left: $margin-right * 4;
 }

  /**
  * 居中
  */
  // 在整个页面中居中
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // 容器的内容水平垂直居中
  .flex-row-col {
    display: flex;
    display: -webkit-flex;
    align-items:center;
    justify-content:center;
  }
  // 容器的内容水平居中
  .flex-row {
    display: flex;
    display: -webkit-flex;
    justify-content:center;
  }
  // 容器的内容垂直居中
  .flex-col {
    display: flex;
    display: -webkit-flex;
    align-items:center;
  }

/**
 * 提交 studentID 的表单
 */
.el-form-studentID {
  margin: 1rem, 2rem;
  max-width: 600px;

  .el-input-studentID {
    // margin: 1rem;
    max-width: 35rem;
    width: 65%;
    margin-right: 20px;
  }
}

/**
 * 我的表单
 */

 .card-pane {
   min-width: 500px;
   min-height: 150px;
 }

 #library-seat,
 #student-seat {
   .info-row {
    height: 30px;
    line-height: 30px;
   }
 }